body {
    max-width: 100%;
    background: url(../images/store-front-larger.jpg);
    background-position: center; 	
    background-size: cover;
    background-repeat: no-repeat;
  margin-bottom: 5em;
}
/* .game-board {
    max-width: 100%;
    background: url(../images/store-front.jpg);
    background-position: center; 	
    background-size: cover;
    background-repeat: no-repeat;
  margin-bottom: 5em;
} */

.square {
    
    height: 4.5em;
    width: 4.5em;
    /* border: 1px solid black; */
    /* margin: 1px; */
}

#tina {
    background-image: url(../images/tina.png);
    background-position: center; 	
    background-size: contain;
    background-repeat: no-repeat;
    width: 4.5em;
    height: 4.5em;
}

.burgers {
    background-image: url(../images/burger.png);
    background-position: center; 	
    background-size: contain;
    background-repeat: no-repeat;
    height:4.5em;
    width: 4.5em;
 
}

.jimmy {
    background-image: url(../images/Jimmy_Pesto_Jr.png);
    background-position: center; 	
    background-size: contain;
    background-repeat: no-repeat;
    height: 4.5em;
    width: 4.5em;
}

.frond {
    background-image: url(../images/mr-frond.png);
    background-position: center; 	
    background-size: contain;
    background-repeat: no-repeat;
    height: 4.5em;
    width: 4.5em;
}

.stats {
    z-index: 300 !important;
    margin-top: 15em;
    margin-right: 5em;
    background-color: white;
}

.family {
    padding-top: 5px;
   width: 50px;
   height: 75px;
}

.navbar {
    background-color: white;
    
}

.navbar-nav{
    /* padding: 0 2em; */
    margin: auto;
}

.navbar-nav h1 {
    padding: 0 .75em;
}

.navbar-collapse {
    text-align: center;

 
}

.counter {
    padding: 0 .5em;
}

.modal-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
