body {
    max-width: 100%;
    background: url(../images/store-front.jpg);
    background-position: center; 	
    background-size: cover;
    background-repeat: no-repeat;
  margin-bottom: 5em;
}
.game-board {
    /* max-width: 100%;
    background: url(../images/store-front.jpg);
    background-position: center; 	
    background-size: cover;
    background-repeat: no-repeat;
  margin-bottom: 5em; */
}

.square {
    
    height: 6em;
    width: 6em;
    border: 1px solid black;
    margin: 1px;
}

#tina {
    background-image: url(../images/tina.png);
    background-position: center; 	
    background-size: contain;
    background-repeat: no-repeat;
    width: 6em;
    height: 6em;
}

.burgers {
    background-image: url(../images/burger.png);
    background-position: center; 	
    background-size: contain;
    background-repeat: no-repeat;
 
}

.jimmy {
    background-image: url(../images/Jimmy_Pesto_Jr.png);
    background-position: center; 	
    background-size: contain;
    background-repeat: no-repeat;
    height: 6em;
    width: 6em;
}

.stats {
    margin-top: 15em;
    margin-right: 5em;
    background-color: white;
}